.myslideshow-container{
	position: relative;
	max-width: 1000px;
	margin: auto;
}

.prev , .next{
	position: absolute;
	top: 50%;
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 25px;
	padding: 16px;
	border-radius: 3px;
	transition: 0.6s ease;
	margin-top: -22px;
}
.next{
	right: 0;
}
.next:hover , .prev:hover{
	background: rgba(0,0,0,0.8);
}
